:root {
    --primary-color: #1c51c4;
    --secondary-color: #119DA4;
    --accent1-color: #57000e;
    --accent2-color: #FCCA46;
}
body {
	margin: 2rem;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--secondary-color);
}

header img {
    width: 150px;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

* a {
    text-decoration: none;
    color: var(--accent1-color);
    font-weight: bold;
    font-family: "Karla", sans-serif;
}

* h2 {
    font-family: "Permanent Marker", system-ui;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
}
* p {
    font-family: "Karla", sans-serif;
}
.hero {
    position: relative;
    width: 100%;
}
.hero img {
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 0%;
    left: 15%;
    font-family: "Permanent Marker", system-ui;
    color: var(--accent2-color);
    font-size: 4rem;
}
.hero article {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 30%;
    background-color: var(--accent2-color);
    border: 1px solid var(--accent1-color);
    padding: 1px;
}
.hero article img {
    width: 200px;
    height: auto;
    border: 1px solid var(--accent1-color);
    float: right;
}

.history {
    background-color: var(--accent2-color);
}
.adventure {
    background-color: var(--accent2-color);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 20% 80%;
    justify-content: center;
    align-content: center;
    
}

.adventure h2 {
    grid-column: 1 / 6;
    grid-row: 1;
}

.adventure img {
    width: 185px;
    height: auto;
    grid-row: 2;
    grid-column: 1 / 6;   
    
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
}

.footer-info {
    font-family: "Karla", sans-serif;
    color: var(--accent1-color);
}

.sociallinks img {
    width: 25px;
    height: auto;
}